***PYTHON PANDAS***

In [ ]:
#KEY DATA STRUCTURE-
#1. series - 1d
#2. dataframe - 2d

In [5]:
import pandas as pd

In [9]:
s=pd.Series([1,2,3,4,5], index=('a','b','c','d','e'))
print(s)
#labelled array

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
df=pd.DataFrame({"name:" : ["ram","laxman", "aman"], "marks:" : [100,120,99]})
df

    name:  marks:
0     ram     100
1  laxman     120
2    aman      99

In [12]:
#reading csv
csv=pd.read_csv("data.csv")
csv

,rno,name,age,gender,Exam_centre,Level,city,Accountany,Economics,LR,english,Law,total,percentage,passing_status
0,11111,Aryan,22,M,Oxford,inter,Jaipur,55,56,50,55,41,257,85.66,Pass
1,11112,Aishwarya,19,F,Rawat,foundation,Kota,45,47,49,41,56,238,79.33,Pass
2,11113,Ansh,24,M,JVP,final,Jaipur,47,32,40,52,21,192,64.00,Pass
3,11114,Anuradha,21,F,Oxford,inter,Alwar,57,52,51,54,36,250,83.33,Pass
4,11115,Kajol,19,F,JVP,foundation,Jaipur,45,55,51,58,60,269,89.66,Pass
5,11116,Kareena,23,F,Rawat,final,Kota,60,59,58,51,32,260,86.66,Pass
6,11117,Kartik,22,M,JVP,inter,Alwar,49,60,59,55,41,264,88.00,Pass
7,11118,Katrina,21,F,Oxford,inter,Alwar,33,35,30,19,52,169,56.33,Pass
8,11119,Lavina,25,F,JVP,final,Bikaner,56,45,59,32,23,215,71.66,Pass
9,11120,Lavish,25,M,JVP,final,Alwar,26,32,30,26,42,156,52.00,Pass
10,11121,Manish,24,M,Oxford,inter,Bikaner,41,51,32,41,51,216,72.00,Pass
11,11122,Manju,20,F,Rawat,foundation,Jaipur,56,50,41,56,25,228,76.00,Pass
12,11123,Nikhil,19,M,JVP,foundation,Bikaner,21,41,35,21,50,168,56.00,Pass
13,11124,Nitin,18,M,Oxford,foundation,Kota,36,55,28,36,60,251,83.66,Pass
14,11125,Nisha,21,F,Oxford,foundation,Alwar,60,44,50,60,32,246,82.00,Pass
15,11126,Henry,25,M,Rawat,final,Bikaner,32,33,51,32,41,189,63.00,Pass
16,11127,Hannah,26,F,Oxford,final,Alwar,41,39,40,41,55,216,72.00,Pass
17,11128,Jack,24,M,JVP,final,Bikaner,52,51,33,55,40,231,77.00,Pass
18,11129,Jessica,20,F,JVP,foundation,Alwar,23,19,25,40,25,132,44.00,Fail
19,11130,Justin,25,M,Oxford,final,Jaipur,42,44,45,25,55,211,70.33,Pass
20,11131,Jayant,24,M,MGD,inter,Kota,51,50,41,55,55,252,84.00,Pass
21,11132,Alia,21,F,Rawat,foundation,Bikaner,30,52,56,55,59,252,84.00,Pass
22,11133,Anirudh,24,M,MGD,inter,Jaipur,19,11,21,59,35,145,48.33,Pass
23,11134,Bhavya,21,F,Oxford,foundation,Bikaner,32,27,36,35,45,175,58.33,Pass
24,11135,Bhaavana,22,F,MGD,inter,Jaipur,25,32,40,45,32,174,58.00,Pass
25,11136,Chandra,23,M,Rawat,final,Alwar,55,58,53,52,58,276,92.00,Pass
26,11137,Clay,22,M,Oxford,inter,Jaipur,12,9,21,21,9,72,24.00,Fail
27,11138,Chavi,19,F,Oxford,foundation,Jaipur,60,55,36,40,55,246,82.00,Pass
28,11139,Dharmendra,25,M,MGD,final,Bikaner,35,52,59,51,52,249,83.00,Pass
29,11140,Dhanush,24,M,Oxford,inter,Jaipur,45,22,32,31,22,152,50.66,Fail
30,11141,Gauri,22,F,MGD,foundation,Kota,42,31,41,45,31,190,63.33,Pass
31,11142,Hema,18,F,Rawat,foundation,Jaipur,51,40,52,51,40,234,78.00,Pass
32,11143,Neetu,24,F,Oxford,final,Kota,25,46,23,52,46,192,64.00,Pass
33,11144,Priyanshi,22,F,MGD,foundation,Alwar,41,52,45,36,52,226,75.33,Pass
34,11145,Pankaj,21,M,Rawat,inter,Kota,54,32,41,51,32,210,70.00,Pass
35,11146,Parineeti,25,F,Oxford,final,Alwar,25,32,35,24,32,148,49.33,Fail
36,11147,Riya,24,F,Oxford,final,Jaipur,21,10,28,45,10,114,38.00,Fail
37,11148,Ruby,26,F,Rawat,final,Bikaner,60,55,50,30,55,250,83.33,Pass
38,11149,Ronaldo,18,M,MGD,foundation,Jaipur,53,60,51,41,60,265,88.33,Pass
39,11150,Rohit,26,M,Oxford,final,Jaipur,57,55,44,25,55,236,78.66,Pass
40,11151,Siya,19,F,Oxford,foundation,Alwar,60,57,58,60,57,292,97.33,Pass
41,11152,Sangeeta,24,F,Rawat,final,Kota,25,20,30,21,45,141,47.00,Fail
42,11153,Suraj,25,M,MGD,final,Bikaner,32,36,25,44,42,179,59.66,Pass
43,11154,Tarun,21,M,MGD,inter,Jaipur,41,45,40,41,51,218,72.66,Pass
44,11155,Tanya,21,F,Oxford,foundation,Kota,35,42,48,46,25,196,65.33,Pass
45,11156,Vansh,26,M,Rawat,final,Alwar,28,51,26,28,45,178,59.33,Pass
46,11157,Vamika,18,F,MGD,foundation,Bikaner,50,25,53,54,41,223,74.33,Pass
47,11158,Yashika,21,F,Oxford,inter,Bikaner,51,49,50,52,35,237,79.00,Pass
48,11159,Ziya,24,F,MGD,final,Bikaner,19,10,12,16,28,85,28.33,Fail

In [13]:
csv5= csv.head(5)
csv_5= csv.tail(5)
print(csv5)
print(csv_5)

     rno       name  age gender Exam_centre       Level    city  Accountany  \
0  11111      Aryan   22      M      Oxford       inter  Jaipur          55
1  11112  Aishwarya   19      F       Rawat  foundation    Kota          45
2  11113       Ansh   24      M         JVP       final  Jaipur          47
3  11114   Anuradha   21      F      Oxford       inter   Alwar          57
4  11115      Kajol   19      F         JVP  foundation  Jaipur          45

   Economics  LR  english  Law  total  percentage passing_status
0         56  50       55   41    257       85.66           Pass
1         47  49       41   56    238       79.33           Pass
2         32  40       52   21    192       64.00           Pass
3         52  51       54   36    250       83.33           Pass
4         55  51       58   60    269       89.66           Pass
      rno     name  age gender Exam_centre       Level     city  Accountany  \
44  11155    Tanya   21      F      Oxford  foundation     Kota          35
45  11156    Vansh   26      M       Rawat       final    Alwar          28
46  11157   Vamika   18      F         MGD  foundation  Bikaner          50
47  11158  Yashika   21      F      Oxford       inter  Bikaner          51
48  11159     Ziya   24      F         MGD       final  Bikaner          19

    Economics  LR  english  Law  total  percentage passing_status
44         42  48       46   25    196       65.33           Pass
45         51  26       28   45    178       59.33           Pass
46         25  53       54   41    223       74.33           Pass
47         49  50       52   35    237       79.00           Pass
48         10  12       16   28     85       28.33           Fail

In [15]:
csv.describe()

,rno,age,Accountany,Economics,LR,english,Law,total,percentage
count,49.00000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000
mean,11135.00000,22.306122,41.040816,41.142857,40.897959,41.959184,41.673469,207.448980,69.147347
std,14.28869,2.459709,13.693002,14.531575,11.916803,12.726218,13.432529,50.051249,16.683387
min,11111.00000,18.000000,12.000000,9.000000,12.000000,16.000000,9.000000,72.000000,24.000000
25%,11123.00000,21.000000,30.000000,32.000000,32.000000,32.000000,32.000000,175.000000,58.330000
50%,11135.00000,22.000000,42.000000,45.000000,41.000000,44.000000,42.000000,216.000000,72.000000
75%,11147.00000,24.000000,53.000000,52.000000,51.000000,52.000000,55.000000,249.000000,83.000000
max,11159.00000,26.000000,60.000000,60.000000,59.000000,60.000000,60.000000,292.000000,97.330000

In [16]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rno             49 non-null     int64
 1   name            49 non-null     object
 2   age             49 non-null     int64
 3   gender          49 non-null     object
 4   Exam_centre     49 non-null     object
 5   Level           49 non-null     object
 6   city            49 non-null     object
 7   Accountany      49 non-null     int64
 8   Economics       49 non-null     int64
 9   LR              49 non-null     int64
 10  english         49 non-null     int64
 11  Law             49 non-null     int64
 12  total           49 non-null     int64
 13  percentage      49 non-null     float64
 14  passing_status  49 non-null     object
dtypes: float64(1), int64(8), object(6)
memory usage: 5.9+ KB

Data Selection

In [25]:
csv[["rno","passing_status"]].head(10)

     rno passing_status
0  11111           Pass
1  11112           Pass
2  11113           Pass
3  11114           Pass
4  11115           Pass
5  11116           Pass
6  11117           Pass
7  11118           Pass
8  11119           Pass
9  11120           Pass

In [ ]:
csv.iloc[0] #only first row

rno                11111
name               Aryan
age                   22
gender                 M
Exam_centre       Oxford
Level              inter
city              Jaipur
Accountany            55
Economics             56
LR                    50
english               55
Law                   41
total                257
percentage         85.66
passing_status      Pass
Name: 0, dtype: object

In [ ]:
csv.rename(columns={"percentage":"percent"})

In [38]:
def fx(a):
    return a + 1

csv["zeros"]= [0 for i in range(len(csv))]
csv["zeros + 1"]= csv["zeros"].apply(fx)

In [39]:
csv

,rno,name,age,gender,Exam_centre,Level,city,Accountany,Economics,LR,english,Law,total,percentage,passing_status,zeros,zeros + 1
0,11111,Aryan,22,M,Oxford,inter,Jaipur,55,56,50,55,41,257,85.66,Pass,0,1
1,11112,Aishwarya,19,F,Rawat,foundation,Kota,45,47,49,41,56,238,79.33,Pass,0,1
2,11113,Ansh,24,M,JVP,final,Jaipur,47,32,40,52,21,192,64.00,Pass,0,1
3,11114,Anuradha,21,F,Oxford,inter,Alwar,57,52,51,54,36,250,83.33,Pass,0,1
4,11115,Kajol,19,F,JVP,foundation,Jaipur,45,55,51,58,60,269,89.66,Pass,0,1
5,11116,Kareena,23,F,Rawat,final,Kota,60,59,58,51,32,260,86.66,Pass,0,1
6,11117,Kartik,22,M,JVP,inter,Alwar,49,60,59,55,41,264,88.00,Pass,0,1
7,11118,Katrina,21,F,Oxford,inter,Alwar,33,35,30,19,52,169,56.33,Pass,0,1
8,11119,Lavina,25,F,JVP,final,Bikaner,56,45,59,32,23,215,71.66,Pass,0,1
9,11120,Lavish,25,M,JVP,final,Alwar,26,32,30,26,42,156,52.00,Pass,0,1
10,11121,Manish,24,M,Oxford,inter,Bikaner,41,51,32,41,51,216,72.00,Pass,0,1
11,11122,Manju,20,F,Rawat,foundation,Jaipur,56,50,41,56,25,228,76.00,Pass,0,1
12,11123,Nikhil,19,M,JVP,foundation,Bikaner,21,41,35,21,50,168,56.00,Pass,0,1
13,11124,Nitin,18,M,Oxford,foundation,Kota,36,55,28,36,60,251,83.66,Pass,0,1
14,11125,Nisha,21,F,Oxford,foundation,Alwar,60,44,50,60,32,246,82.00,Pass,0,1
15,11126,Henry,25,M,Rawat,final,Bikaner,32,33,51,32,41,189,63.00,Pass,0,1
16,11127,Hannah,26,F,Oxford,final,Alwar,41,39,40,41,55,216,72.00,Pass,0,1
17,11128,Jack,24,M,JVP,final,Bikaner,52,51,33,55,40,231,77.00,Pass,0,1
18,11129,Jessica,20,F,JVP,foundation,Alwar,23,19,25,40,25,132,44.00,Fail,0,1
19,11130,Justin,25,M,Oxford,final,Jaipur,42,44,45,25,55,211,70.33,Pass,0,1
20,11131,Jayant,24,M,MGD,inter,Kota,51,50,41,55,55,252,84.00,Pass,0,1
21,11132,Alia,21,F,Rawat,foundation,Bikaner,30,52,56,55,59,252,84.00,Pass,0,1
22,11133,Anirudh,24,M,MGD,inter,Jaipur,19,11,21,59,35,145,48.33,Pass,0,1
23,11134,Bhavya,21,F,Oxford,foundation,Bikaner,32,27,36,35,45,175,58.33,Pass,0,1
24,11135,Bhaavana,22,F,MGD,inter,Jaipur,25,32,40,45,32,174,58.00,Pass,0,1
25,11136,Chandra,23,M,Rawat,final,Alwar,55,58,53,52,58,276,92.00,Pass,0,1
26,11137,Clay,22,M,Oxford,inter,Jaipur,12,9,21,21,9,72,24.00,Fail,0,1
27,11138,Chavi,19,F,Oxford,foundation,Jaipur,60,55,36,40,55,246,82.00,Pass,0,1
28,11139,Dharmendra,25,M,MGD,final,Bikaner,35,52,59,51,52,249,83.00,Pass,0,1
29,11140,Dhanush,24,M,Oxford,inter,Jaipur,45,22,32,31,22,152,50.66,Fail,0,1
30,11141,Gauri,22,F,MGD,foundation,Kota,42,31,41,45,31,190,63.33,Pass,0,1
31,11142,Hema,18,F,Rawat,foundation,Jaipur,51,40,52,51,40,234,78.00,Pass,0,1
32,11143,Neetu,24,F,Oxford,final,Kota,25,46,23,52,46,192,64.00,Pass,0,1
33,11144,Priyanshi,22,F,MGD,foundation,Alwar,41,52,45,36,52,226,75.33,Pass,0,1
34,11145,Pankaj,21,M,Rawat,inter,Kota,54,32,41,51,32,210,70.00,Pass,0,1
35,11146,Parineeti,25,F,Oxford,final,Alwar,25,32,35,24,32,148,49.33,Fail,0,1
36,11147,Riya,24,F,Oxford,final,Jaipur,21,10,28,45,10,114,38.00,Fail,0,1
37,11148,Ruby,26,F,Rawat,final,Bikaner,60,55,50,30,55,250,83.33,Pass,0,1
38,11149,Ronaldo,18,M,MGD,foundation,Jaipur,53,60,51,41,60,265,88.33,Pass,0,1
39,11150,Rohit,26,M,Oxford,final,Jaipur,57,55,44,25,55,236,78.66,Pass,0,1
40,11151,Siya,19,F,Oxford,foundation,Alwar,60,57,58,60,57,292,97.33,Pass,0,1
41,11152,Sangeeta,24,F,Rawat,final,Kota,25,20,30,21,45,141,47.00,Fail,0,1
42,11153,Suraj,25,M,MGD,final,Bikaner,32,36,25,44,42,179,59.66,Pass,0,1
43,11154,Tarun,21,M,MGD,inter,Jaipur,41,45,40,41,51,218,72.66,Pass,0,1
44,11155,Tanya,21,F,Oxford,foundation,Kota,35,42,48,46,25,196,65.33,Pass,0,1
45,11156,Vansh,26,M,Rawat,final,Alwar,28,51,26,28,45,178,59.33,Pass,0,1
46,11157,Vamika,18,F,MGD,foundation,Bikaner,50,25,53,54,41,223,74.33,Pass,0,1
47,11158,Yashika,21,F,Oxford,inter,Bikaner,51,49,50,52,35,237,79.00,Pass,0,1
48,11159,Ziya,24,F,MGD,final,Bikaner,19,10,12,16,28,85,28.33,Fail,0,1